.coins-list-navigation {
  position: fixed;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: flex-start;
  padding: 20px 0;
  padding-left: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  box-sizing: border-box;
  width: 100%;
  z-index: 100;

  &__inner-wrapper {
    max-width: 930px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
  }

  &__button {
    border: none;
    background: transparent;
    cursor: pointer;
    flex-shrink: 0;
    color: rgb(132, 132, 132);
    padding: 0;
    text-align: right;

    &:hover {
      color: #000;
    }

    &:first-child {
      flex-basis: 4%;
      text-align: center;
    }

    &:nth-child(2) {
      flex-basis: 21%;
      text-align: left;
    }

    &:nth-child(3) {
      flex-basis: 15%;
    }

    &:nth-child(4) {
      flex-basis: 10%;
    }

    &:nth-child(5) {
      flex-basis: 10%;
    }

    &:nth-child(6) {
      flex-basis: 20%;
    }

    &:last-child {
      flex-basis: 20%;
    }
  }
}

.coin-list-navigation_dark {
  background-color: #2a2a2a;
}
