* {
  font-family: Helvetica, sans-serif;
}

.app {
  background-color: #fff;
  height: 100%;

  p,
  a {
    color: #2a2a2a;
  }

  * {
    border-color: #ccc;
  }
}

.app_dark {
  background-color: #2a2a2a;
  height: 100%;

  * body {
    background-color: #2a2a2a;
  }

  p,
  a {
    color: #fff;
  }
}
